*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.bottom-0 {
  bottom: 0px;
}

.left-0 {
  left: 0px;
}

.left-2 {
  left: 0.5rem;
}

.left-\[96px\] {
  left: 96px;
}

.right-2 {
  right: 0.5rem;
}

.top-0 {
  top: 0px;
}

.top-1\/2 {
  top: 50%;
}

.top-\[96px\] {
  top: 96px;
}

.z-10 {
  z-index: 10;
}

.z-\[10\] {
  z-index: 10;
}

.z-\[60\] {
  z-index: 60;
}

.z-50 {
  z-index: 50;
}

.mx-\[100px\] {
  margin-left: 100px;
  margin-right: 100px;
}

.mx-\[10px\] {
  margin-left: 10px;
  margin-right: 10px;
}

.mx-\[150px\] {
  margin-left: 150px;
  margin-right: 150px;
}

.mx-\[20px\] {
  margin-left: 20px;
  margin-right: 20px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-\[128px\] {
  margin-top: 128px;
  margin-bottom: 128px;
}

.my-\[96px\] {
  margin-top: 96px;
  margin-bottom: 96px;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mb-\[12px\] {
  margin-bottom: 12px;
}

.mb-\[16px\] {
  margin-bottom: 16px;
}

.mb-\[22px\] {
  margin-bottom: 22px;
}

.mb-\[24px\] {
  margin-bottom: 24px;
}

.mb-\[250px\] {
  margin-bottom: 250px;
}

.mb-\[32px\] {
  margin-bottom: 32px;
}

.mb-\[47px\] {
  margin-bottom: 47px;
}

.mb-\[48px\] {
  margin-bottom: 48px;
}

.mb-\[64px\] {
  margin-bottom: 64px;
}

.me-\[110px\] {
  margin-inline-end: 110px;
}

.me-\[239px\] {
  margin-inline-end: 239px;
}

.me-\[248px\] {
  margin-inline-end: 248px;
}

.ml-\[48px\] {
  margin-left: 48px;
}

.ml-\[90px\] {
  margin-left: 90px;
}

.ms-\[10px\] {
  margin-inline-start: 10px;
}

.ms-\[12px\] {
  margin-inline-start: 12px;
}

.ms-\[160px\] {
  margin-inline-start: 160px;
}

.ms-\[165px\] {
  margin-inline-start: 165px;
}

.ms-\[16px\] {
  margin-inline-start: 16px;
}

.ms-\[48px\] {
  margin-inline-start: 48px;
}

.ms-\[56px\] {
  margin-inline-start: 56px;
}

.ms-\[96px\] {
  margin-inline-start: 96px;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-\[120px\] {
  margin-top: 120px;
}

.mt-\[128px\] {
  margin-top: 128px;
}

.mt-\[129px\] {
  margin-top: 129px;
}

.mt-\[12px\] {
  margin-top: 12px;
}

.mt-\[130px\] {
  margin-top: 130px;
}

.mt-\[14px\] {
  margin-top: 14px;
}

.mt-\[16px\] {
  margin-top: 16px;
}

.mt-\[200px\] {
  margin-top: 200px;
}

.mt-\[20px\] {
  margin-top: 20px;
}

.mt-\[23\.59px\] {
  margin-top: 23.59px;
}

.mt-\[23px\] {
  margin-top: 23px;
}

.mt-\[28px\] {
  margin-top: 28px;
}

.mt-\[312px\] {
  margin-top: 312px;
}

.mt-\[32px\] {
  margin-top: 32px;
}

.mt-\[40px\] {
  margin-top: 40px;
}

.mt-\[48px\] {
  margin-top: 48px;
}

.mt-\[5px\] {
  margin-top: 5px;
}

.mt-\[96px\] {
  margin-top: 96px;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.h-12 {
  height: 3rem;
}

.h-\[112px\] {
  height: 112px;
}

.h-\[1191px\] {
  height: 1191px;
}

.h-\[144px\] {
  height: 144px;
}

.h-\[160px\] {
  height: 160px;
}

.h-\[172px\] {
  height: 172px;
}

.h-\[178px\] {
  height: 178px;
}

.h-\[184px\] {
  height: 184px;
}

.h-\[192px\] {
  height: 192px;
}

.h-\[1942px\] {
  height: 1942px;
}

.h-\[204px\] {
  height: 204px;
}

.h-\[206px\] {
  height: 206px;
}

.h-\[224px\] {
  height: 224px;
}

.h-\[232px\] {
  height: 232px;
}

.h-\[24\.7px\] {
  height: 24.7px;
}

.h-\[24px\] {
  height: 24px;
}

.h-\[250px\] {
  height: 250px;
}

.h-\[284px\] {
  height: 284px;
}

.h-\[285px\] {
  height: 285px;
}

.h-\[28px\] {
  height: 28px;
}

.h-\[302px\] {
  height: 302px;
}

.h-\[308px\] {
  height: 308px;
}

.h-\[316px\] {
  height: 316px;
}

.h-\[32\.41px\] {
  height: 32.41px;
}

.h-\[32px\] {
  height: 32px;
}

.h-\[397px\] {
  height: 397px;
}

.h-\[405px\] {
  height: 405px;
}

.h-\[414px\] {
  height: 414px;
}

.h-\[416px\] {
  height: 416px;
}

.h-\[489px\] {
  height: 489px;
}

.h-\[506px\] {
  height: 506px;
}

.h-\[50px\] {
  height: 50px;
}

.h-\[530px\] {
  height: 530px;
}

.h-\[537px\] {
  height: 537px;
}

.h-\[56px\] {
  height: 56px;
}

.h-\[600px\] {
  height: 600px;
}

.h-\[60px\] {
  height: 60px;
}

.h-\[64px\] {
  height: 64px;
}

.h-\[661px\] {
  height: 661px;
}

.h-\[691px\] {
  height: 691px;
}

.h-\[728px\] {
  height: 728px;
}

.h-\[72px\] {
  height: 72px;
}

.h-\[737px\] {
  height: 737px;
}

.h-\[760px\] {
  height: 760px;
}

.h-\[819px\] {
  height: 819px;
}

.h-\[92px\] {
  height: 92px;
}

.h-\[95px\] {
  height: 95px;
}

.h-\[inherit\] {
  height: inherit;
}

.h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.min-h-\[609px\] {
  min-height: 609px;
}

.w-12 {
  width: 3rem;
}

.w-\[118px\] {
  width: 118px;
}

.w-\[122px\] {
  width: 122px;
}

.w-\[1280px\] {
  width: 1280px;
}

.w-\[1284px\] {
  width: 1284px;
}

.w-\[140px\] {
  width: 140px;
}

.w-\[144px\] {
  width: 144px;
}

.w-\[147\.53px\] {
  width: 147.53px;
}

.w-\[149px\] {
  width: 149px;
}

.w-\[150px\] {
  width: 150px;
}

.w-\[1600px\] {
  width: 1600px;
}

.w-\[160px\] {
  width: 160px;
}

.w-\[185px\] {
  width: 185px;
}

.w-\[230px\] {
  width: 230px;
}

.w-\[24px\] {
  width: 24px;
}

.w-\[313px\] {
  width: 313px;
}

.w-\[325px\] {
  width: 325px;
}

.w-\[327px\] {
  width: 327px;
}

.w-\[328px\] {
  width: 328px;
}

.w-\[32px\] {
  width: 32px;
}

.w-\[343px\] {
  width: 343px;
}

.w-\[396px\] {
  width: 396px;
}

.w-\[399px\] {
  width: 399px;
}

.w-\[405px\] {
  width: 405px;
}

.w-\[414px\] {
  width: 414px;
}

.w-\[419px\] {
  width: 419px;
}

.w-\[437px\] {
  width: 437px;
}

.w-\[467px\] {
  width: 467px;
}

.w-\[50px\] {
  width: 50px;
}

.w-\[517px\] {
  width: 517px;
}

.w-\[562px\] {
  width: 562px;
}

.w-\[582px\] {
  width: 582px;
}

.w-\[623px\] {
  width: 623px;
}

.w-\[630px\] {
  width: 630px;
}

.w-\[656px\] {
  width: 656px;
}

.w-\[730px\] {
  width: 730px;
}

.w-\[733px\] {
  width: 733px;
}

.w-\[834px\] {
  width: 834px;
}

.w-\[847px\] {
  width: 847px;
}

.w-\[inherit\] {
  width: inherit;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}

.max-w-4xl {
  max-width: 56rem;
}

.max-w-\[1600px\] {
  max-width: 1600px;
}

.max-w-\[399px\] {
  max-width: 399px;
}

.max-w-\[405px\] {
  max-width: 405px;
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.select-none {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-4 {
  gap: 1rem;
}

.gap-\[109px\] {
  gap: 109px;
}

.gap-\[10px\] {
  gap: 10px;
}

.gap-\[142px\] {
  gap: 142px;
}

.gap-\[150px\] {
  gap: 150px;
}

.gap-\[16px\] {
  gap: 16px;
}

.gap-\[32px\] {
  gap: 32px;
}

.gap-\[380px\] {
  gap: 380px;
}

.gap-\[60px\] {
  gap: 60px;
}

.gap-x-\[32px\] {
  -moz-column-gap: 32px;
       column-gap: 32px;
}

.gap-x-\[34px\] {
  -moz-column-gap: 34px;
       column-gap: 34px;
}

.gap-y-\[16px\] {
  row-gap: 16px;
}

.gap-y-\[24px\] {
  row-gap: 24px;
}

.gap-y-\[64px\] {
  row-gap: 64px;
}

.gap-y-\[70px\] {
  row-gap: 70px;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded-\[41px\] {
  border-radius: 41px;
}

.rounded-\[50px\] {
  border-radius: 50px;
}

.rounded-\[8px\] {
  border-radius: 8px;
}

.rounded-full {
  border-radius: 9999px;
}

.border-\[1\.5px\] {
  border-width: 1.5px;
}

.border-\[2px\] {
  border-width: 2px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-solid {
  border-style: solid;
}

.border-\[\#F4F5FC33\] {
  border-color: #F4F5FC33;
}

.border-\[\#F4F6FC33\] {
  border-color: #F4F6FC33;
}

.border-\[\#FFFFFF0D\] {
  border-color: #FFFFFF0D;
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity, 1));
}

.bg-\[\#1C1E53\] {
  --tw-bg-opacity: 1;
  background-color: rgb(28 30 83 / var(--tw-bg-opacity, 1));
}

.bg-\[\#2b2b2bbb\] {
  background-color: #2b2b2bbb;
}

.bg-\[\#F4F6FC\] {
  --tw-bg-opacity: 1;
  background-color: rgb(244 246 252 / var(--tw-bg-opacity, 1));
}

.bg-\[\#FCD980\] {
  --tw-bg-opacity: 1;
  background-color: rgb(252 217 128 / var(--tw-bg-opacity, 1));
}

.bg-amber-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(252 211 77 / var(--tw-bg-opacity, 1));
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-gradient-to-br {
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
}

.from-\[\#1C1E536B\] {
  --tw-gradient-from: #1C1E536B var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(28 30 83 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-\[\#1C1E53\] {
  --tw-gradient-to: #1C1E53 var(--tw-gradient-to-position);
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-2 {
  padding: 0.5rem;
}

.p-6 {
  padding: 1.5rem;
}

.p-\[20px\] {
  padding: 20px;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-\[10px\] {
  padding-left: 10px;
  padding-right: 10px;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pb-\[128px\] {
  padding-bottom: 128px;
}

.pe-\[106px\] {
  padding-inline-end: 106px;
}

.pe-\[35px\] {
  padding-inline-end: 35px;
}

.pe-\[36px\] {
  padding-inline-end: 36px;
}

.pl-\[32px\] {
  padding-left: 32px;
}

.ps-\[105px\] {
  padding-inline-start: 105px;
}

.ps-\[40px\] {
  padding-inline-start: 40px;
}

.ps-\[48px\] {
  padding-inline-start: 48px;
}

.ps-\[56px\] {
  padding-inline-start: 56px;
}

.pt-\[16px\] {
  padding-top: 16px;
}

.pt-\[24px\] {
  padding-top: 24px;
}

.pt-\[33px\] {
  padding-top: 33px;
}

.pt-\[58px\] {
  padding-top: 58px;
}

.pt-\[96px\] {
  padding-top: 96px;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-start {
  text-align: start;
}

.font-\[reg\] {
  font-family: reg;
}

.font-sans {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text-\[16px\] {
  font-size: 16px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[24px\] {
  font-size: 24px;
}

.text-\[32px\] {
  font-size: 32px;
}

.text-\[38px\] {
  font-size: 38px;
}

.text-\[48px\] {
  font-size: 48px;
}

.text-\[54px\] {
  font-size: 54px;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.font-\[500\] {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.capitalize {
  text-transform: capitalize;
}

.leading-\[28px\] {
  line-height: 28px;
}

.leading-\[32px\] {
  line-height: 32px;
}

.leading-\[36px\] {
  line-height: 36px;
}

.leading-\[48px\] {
  line-height: 48px;
}

.leading-\[56px\] {
  line-height: 56px;
}

.leading-\[64px\] {
  line-height: 64px;
}

.leading-\[74px\] {
  line-height: 74px;
}

.text-\[\#1B1C2B\] {
  --tw-text-opacity: 1;
  color: rgb(27 28 43 / var(--tw-text-opacity, 1));
}

.text-\[\#2405F2\] {
  --tw-text-opacity: 1;
  color: rgb(36 5 242 / var(--tw-text-opacity, 1));
}

.text-\[\#282938\] {
  --tw-text-opacity: 1;
  color: rgb(40 41 56 / var(--tw-text-opacity, 1));
}

.text-\[\#2b2b2b\] {
  --tw-text-opacity: 1;
  color: rgb(43 43 43 / var(--tw-text-opacity, 1));
}

.text-\[\#888AA8\] {
  --tw-text-opacity: 1;
  color: rgb(136 138 168 / var(--tw-text-opacity, 1));
}

.text-\[\#F4F6FC\] {
  --tw-text-opacity: 1;
  color: rgb(244 246 252 / var(--tw-text-opacity, 1));
}

.text-\[\#FCD980\] {
  --tw-text-opacity: 1;
  color: rgb(252 217 128 / var(--tw-text-opacity, 1));
}

.text-\[\#fff\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1));
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1));
}

.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-slate-400 {
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity, 1));
}

.opacity-70 {
  opacity: 0.7;
}

.opacity-\[50\%\] {
  opacity: 50%;
}

.opacity-\[70\%\] {
  opacity: 70%;
}

.opacity-\[80\%\] {
  opacity: 80%;
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-200 {
  transition-duration: 200ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.ease-linear {
  transition-timing-function: linear;
}

@plugin "flowbite/plugin";

@source "../node_modules/flowbite";

.slider-container {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-x: auto;
  scrollbar-width: none;
  display: flex;
}

.slider-container::-webkit-scrollbar {
  display: none;
}

.slide {
  scroll-snap-align: start;
  flex: 0 0 100%;
}

.hover\:bg-\[\#364162\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(54 65 98 / var(--tw-bg-opacity, 1));
}

.hover\:bg-\[\#FDE4A6\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(253 228 166 / var(--tw-bg-opacity, 1));
}

.hover\:bg-\[\#fcd980a2\]:hover {
  background-color: #fcd980a2;
}

.hover\:bg-gray-200:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1));
}

.hover\:text-\[\#2405F2\]:hover {
  --tw-text-opacity: 1;
  color: rgb(36 5 242 / var(--tw-text-opacity, 1));
}

.hover\:text-\[\#585858\]:hover {
  --tw-text-opacity: 1;
  color: rgb(88 88 88 / var(--tw-text-opacity, 1));
}

.hover\:text-slate-400:hover {
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity, 1));
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

@media not all and (min-width: 1600px) {
  .max-desktop\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media not all and (min-width: 768px) {
  .max-tablet\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media not all and (min-width: 320px) {
  .max-mobile\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (min-width: 320px) {
  .mobile\:absolute {
    position: absolute;
  }

  .mobile\:left-0 {
    left: 0px;
  }

  .mobile\:right-\[10px\] {
    right: 10px;
  }

  .mobile\:top-\[100px\] {
    top: 100px;
  }

  .mobile\:mr-\[20px\] {
    margin-right: 20px;
  }

  .mobile\:mt-\[10px\] {
    margin-top: 10px;
  }

  .mobile\:block {
    display: block;
  }

  .mobile\:flex {
    display: flex;
  }

  .mobile\:hidden {
    display: none;
  }

  .mobile\:h-fit {
    height: -moz-fit-content;
    height: fit-content;
  }

  .mobile\:w-\[100px\] {
    width: 100px;
  }

  .mobile\:w-\[200px\] {
    width: 200px;
  }

  .mobile\:w-full {
    width: 100%;
  }

  .mobile\:max-w-\[399px\] {
    max-width: 399px;
  }

  .mobile\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .mobile\:justify-center {
    justify-content: center;
  }

  .mobile\:rounded-\[8px\] {
    border-radius: 8px;
  }

  .mobile\:border-\[2px\] {
    border-width: 2px;
  }

  .mobile\:border-solid {
    border-style: solid;
  }

  .mobile\:border-blue-500 {
    --tw-border-opacity: 1;
    border-color: rgb(59 130 246 / var(--tw-border-opacity, 1));
  }

  .mobile\:bg-\[\#1C1E53\] {
    --tw-bg-opacity: 1;
    background-color: rgb(28 30 83 / var(--tw-bg-opacity, 1));
  }

  .mobile\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .mobile\:pl-\[10px\] {
    padding-left: 10px;
  }

  .mobile\:pl-\[20px\] {
    padding-left: 20px;
  }
}

@media (min-width: 768px) {
  .tablet\:static {
    position: static;
  }

  .tablet\:left-\[160px\] {
    left: 160px;
  }

  .tablet\:ml-\[160px\] {
    margin-left: 160px;
  }

  .tablet\:ml-\[37px\] {
    margin-left: 37px;
  }

  .tablet\:mt-\[17px\] {
    margin-top: 17px;
  }

  .tablet\:block {
    display: block;
  }

  .tablet\:flex {
    display: flex;
  }

  .tablet\:hidden {
    display: none;
  }

  .tablet\:h-\[32\.04px\] {
    height: 32.04px;
  }

  .tablet\:h-\[361\.12px\] {
    height: 361.12px;
  }

  .tablet\:w-\[185px\] {
    width: 185px;
  }

  .tablet\:w-\[398px\] {
    width: 398px;
  }

  .tablet\:w-\[399px\] {
    width: 399px;
  }

  .tablet\:w-\[517px\] {
    width: 517px;
  }

  .tablet\:w-\[630px\] {
    width: 630px;
  }

  .tablet\:w-fit {
    width: -moz-fit-content;
    width: fit-content;
  }

  .tablet\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .tablet\:justify-between {
    justify-content: space-between;
  }

  .tablet\:border-none {
    border-style: none;
  }

  .tablet\:px-\[160px\] {
    padding-left: 160px;
    padding-right: 160px;
  }
}

@media (min-width: 1600px) {
  .desktop\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .desktop\:mr-\[160px\] {
    margin-right: 160px;
  }

  .desktop\:mt-0 {
    margin-top: 0px;
  }

  .desktop\:h-\[668px\] {
    height: 668px;
  }

  .desktop\:h-\[737px\] {
    height: 737px;
  }

  .desktop\:w-\[1058px\] {
    width: 1058px;
  }

  .desktop\:pl-\[160px\] {
    padding-left: 160px;
  }
}
